body {font-family: Inconsolata;}
h1,h2 {text-align: center;}

input[type=text], input[type=password] {
  display: block;
  width: 80%;
  padding: 12px 20px;
  margin: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  display: inline-block;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
button:hover { opacity: 0.8; }

#login-btn,#logout-btn { width: 100%;}
#signup-btn {
  width: 100%;
  background-color:  #2196F3!important;
  color:  white;
}

#btn-footer { text-align: center; }

.modal {
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  overflow: auto;
  margin: auto;
  border: 1px solid #888;
  background-color: #2196F3!important;
}

#reserve-room, #itinerary { text-align: center; }

.invisible { display: none; }